.wrap {
    text-align: center;
    padding: calc(var(--uint) * 10) 0;
}

.wrap h1 {
    margin-bottom: calc(var(--uint) * 2);
    color: var(--primary);
}

.wrap p {
    margin-bottom: calc(var(--uint) * 2);
    color: var(--grey);
}

.wrap a {
    text-decoration: underline;
}

.wrap a:hover {
    color: var(--primary);
}