.hint {
    margin-bottom: calc(var(--uint) * 5);
}

.form > div:not(:last-of-type) {
    margin-bottom: calc(var(--uint) * 5);
}

.button svg {
    width: 17px;
    height: 17px;
    margin-left: calc(var(--uint) * 0.5);
}

.button {
    margin-top: calc(var(--uint) * 2);
}

.mixCode {
    margin-top: calc(var(--uint) * 1);
}