.minimum {
    font-size: var(--body2);
    margin-top: calc(var(--uint) * 0.5);
}

.addresses {
    margin-top: calc(var(--uint) * 2);
    margin-bottom: calc(var(--uint) * 2);
}

.addresses > div:not(:last-of-type) {
    margin-bottom: calc(var(--uint) * 1);
}

.addButton svg {
    width: 24px;
    height: 24px;
}

.distribution {
    padding: calc(var(--uint) * 3);
    padding-bottom: calc(var(--uint) * 4);
    background: var(--bg);
    border-radius: var(--uint);
    margin-top: calc(var(--uint) * 2);
}

.distribution p {
    margin-bottom: calc(var(--uint) * 1);
}