.offer {
    margin: 0 auto;
    max-width: 480px;
    text-align: center;
    margin-bottom: calc(var(--uint) * 12);
}

.offer h1 {
    margin-bottom: calc(var(--uint) * 2);
}

.offer h1 span {
    color: var(--primary);
}

.offer p {
    color: var(--grey);
}

.form {
    margin: 0 auto;
    max-width: 900px;
}

@media only screen and (max-width: 600px) {
    .offer {
        margin-bottom: calc(var(--uint) * 8);
    }
}