:root {
    --font-family: "Inter, sans-serif";

    --body1: 16px;
    --body2: 0.875rem;
    --fs-small: 0.75rem;

    --white: #fff;
    --grey: #8e9396;

    --primary: #fbca1c;
    --primary-hover: #fcd64e;

    --bg: #020201;
    --bg1: #161616;

    --uint: 8px;
}

body {
    font-size: var(--body1);
    font-family: "Inter";
    background-color: var(--bg);
    color: var(--white);
}

html, body {
    height: 100%;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}