:root {
    --font-family: "Inter, sans-serif";

    --body1: 16px;
    --body2: 0.875rem;
    --fs-small: 0.75rem;

    --white: #fff;
    --black: #020201;
    --grey: #8e9396;
    --disabled: #575757;
    --error: #ff4141;

    --primary: #fbca1c;
    --primary-hover: #fcd64e;

    --bg: #020201;
    --bg1: #272626;
    --bg-input: #020201;

    --uint: 8px;
}

body {
    font-size: var(--body1);
    font-family: "Inter";
    background-color: var(--bg);
    color: var(--white);
}

html, body {
    height: 100%;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.3;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 52px;
}

h3 { 
    font-size: 44px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

section {
    padding: calc(var(--uint) * 12) 0;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 44px;
    }
    
    h3 { 
        font-size: 36px;
    }
    
    h4 {
        font-size: 28px;
    }
    
    h5 {
        font-size: 22px;
    }
    
    h6 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 44px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    h3 { 
        font-size: 32px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 16px;
    }

    section {
        padding: calc(var(--uint) * 8) 0;
    }
}